openapi: 3.0.3
info:
    title: 'SSGC Bulk Order'
    description: ''
    version: 1.0.0
servers:
    -
        url: 'https://phplaravel-1199381-4233939.cloudwaysapps.com'
paths:
    /api/customer/country_list:
        get:
            summary: 'Auth: Country List'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'Country List Found'
                                    data: [{ id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-bulk-order-web/public/flags/india.png' }]
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'Country List Found' }
                                    data: { type: array, example: [{ id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-bulk-order-web/public/flags/india.png' }], items: { type: object } }
            tags:
                - 'Customer Endpoints'
            security: []
    /api/customer/signup:
        post:
            summary: 'Auth: Signup'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: multipart/form-data
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'OTP sent to your email test123@mailinator.com'
                                    data: { id: '10', username: test1234, email: test123@mailinator.com, mobile_number: '1111111111', bio: test, link: 'https://www.mysite.com', favorite_book: test, favorite_genre: test, title: Author, title_id: '1', profile_image: 'http://cloud1.kodyinfotech.com:7000/redwriter/public/uploads/media/53534670e278f062511d0b522b6372f0.jpg', country: { id: '1', name: USA, code: '+1', flag: 'http://cloud1.kodyinfotech.com:7000/redwriter/public/flags/usa.png' }, state: { id: '1', country_id: '1', country_name: USA, name: California }, city: { id: '1', state_id: '1', state_name: California, name: 'Los Angeles' }, email_verified: '1', phone_verified: '1', is_social_login: normal, friends: '0', my_subscription: { id: '1', name: Black, type: Public, price: '100' } }
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'OTP sent to your email test123@mailinator.com' }
                                    data: { type: object, example: { id: '10', username: test1234, email: test123@mailinator.com, mobile_number: '1111111111', bio: test, link: 'https://www.mysite.com', favorite_book: test, favorite_genre: test, title: Author, title_id: '1', profile_image: 'http://cloud1.kodyinfotech.com:7000/redwriter/public/uploads/media/53534670e278f062511d0b522b6372f0.jpg', country: { id: '1', name: USA, code: '+1', flag: 'http://cloud1.kodyinfotech.com:7000/redwriter/public/flags/usa.png' }, state: { id: '1', country_id: '1', country_name: USA, name: California }, city: { id: '1', state_id: '1', state_name: California, name: 'Los Angeles' }, email_verified: '1', phone_verified: '1', is_social_login: normal, friends: '0', my_subscription: { id: '1', name: Black, type: Public, price: '100' } } }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            type: object
                            properties:
                                first_name:
                                    type: string
                                    description: 'Full name.'
                                    example: John
                                profile_image:
                                    type: string
                                    format: binary
                                    description: 'Profile Image.'
                                company_name:
                                    type: string
                                    description: 'Full name.'
                                    example: John
                                'company_images[]':
                                    type: string
                                    format: binary
                                    description: 'Company Images.'
                                'company_documents[]':
                                    type: string
                                    format: binary
                                    description: 'Company Documents.'
                                email:
                                    type: string
                                    description: 'optional max:190 Email.'
                                    example: John@gmail.com
                                mobile_number:
                                    type: string
                                    description: 'max:10  Mobile Number.'
                                    example: '1234567890'
                                password:
                                    type: string
                                    description: 'min:8 max:16  Password.'
                                    example: John@123
                                referral_code:
                                    type: string
                                    description: 'min:8 max:8  Referral Code.'
                                    example: SSGC1234
                                device_type:
                                    type: string
                                    description: 'User''s device type. Enums : iphone, android.'
                                    example: iphone
                                device_token:
                                    type: string
                                    description: 'User''s device token.'
                                    example: abcd1234
                            required:
                                - first_name
                                - profile_image
                                - company_name
                                - 'company_images[]'
                                - 'company_documents[]'
                                - mobile_number
                                - password
                                - referral_code
                                - device_type
                                - device_token
            security: []
    /api/customer/verify_otp:
        post:
            summary: 'Auth: Mobile OTP Verify'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'Your Mobile number verified successfully'
                                    data: { token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiMjA4NmYxODJjOGZjNmNlYzI0ZDdjYzQ3NzlmYjFjY2FmZjcwNGE2NWZjMmQxNmY1OTNmNjUyY2FkM2YzYjk0M2ViZDg3ZmRmZGIxZTMwMzYiLCJpYXQiOjE2N..., id: '9', first_name: John, last_name: '', email: John@gmail.com, mobile_number: '1234567890', profile_image: 'http://localhost/ssgc-web/public/customer_avtar.jpg', country: { id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }, referral_code: 5X9PFTIR, email_verified: '0', phone_verified: '1', is_social_login: normal }
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'Your Mobile number verified successfully' }
                                    data: { type: object, example: { token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiMjA4NmYxODJjOGZjNmNlYzI0ZDdjYzQ3NzlmYjFjY2FmZjcwNGE2NWZjMmQxNmY1OTNmNjUyY2FkM2YzYjk0M2ViZDg3ZmRmZGIxZTMwMzYiLCJpYXQiOjE2N..., id: '9', first_name: John, last_name: '', email: John@gmail.com, mobile_number: '1234567890', profile_image: 'http://localhost/ssgc-web/public/customer_avtar.jpg', country: { id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }, referral_code: 5X9PFTIR, email_verified: '0', phone_verified: '1', is_social_login: normal } }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                otp:
                                    type: string
                                    description: 'max:6  OTP.'
                                    example: '123456'
                                user_id:
                                    type: string
                                    description: 'User ID.'
                                    example: '1'
                                mobile_number:
                                    type: string
                                    description: 'max:10  Mobile Number.'
                                    example: '1234567890'
                            required:
                                - otp
                                - user_id
                                - mobile_number
            security: []
    /api/customer/resend_otp:
        post:
            summary: 'Auth: Resend OTP'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'OTP sent to your mobile number 9727332489'
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'OTP sent to your mobile number 9727332489' }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                user_id:
                                    type: string
                                    description: 'User ID.'
                                    example: '1'
                                mobile_number:
                                    type: string
                                    description: 'max:10  Mobile Number.'
                                    example: '123456789'
                            required:
                                - user_id
                                - mobile_number
            security: []
    /api/customer/verify_email_otp:
        post:
            summary: 'Auth: Verify Email OTP'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'Your email has been verified successfully'
                                    data: { token: eyJ0eXAiOiJKV1QiL..., id: '148', first_name: John, last_name: '', email: aaawwwsss@mailinator.com, mobile_number: '1234567804', profile_image: 'http://localhost/ssgc-bulk-order-web/public/uploads/media/Consumer_Woman-512_-_Copy_16811582359196.png', country: { id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-bulk-order-web/public/flags/india.png' }, referral_code: '', email_verified: '1', phone_verified: '0', is_social_login: normal, company_name: John, company_documents: [{ id: '1196', document: 'http://localhost/ssgc-bulk-order-web/public/uploads/media/Consumer_Woman-512_-_Copy_16811582353154.png' }], company_images: [{ id: '1195', image: 'http://localhost/ssgc-bulk-order-web/public/uploads/media/Consumer_Woman-512_-_Copy_16811582357164.png' }], user_type: retailer }
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'Your email has been verified successfully' }
                                    data: { type: object, example: { token: eyJ0eXAiOiJKV1QiL..., id: '148', first_name: John, last_name: '', email: aaawwwsss@mailinator.com, mobile_number: '1234567804', profile_image: 'http://localhost/ssgc-bulk-order-web/public/uploads/media/Consumer_Woman-512_-_Copy_16811582359196.png', country: { id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-bulk-order-web/public/flags/india.png' }, referral_code: '', email_verified: '1', phone_verified: '0', is_social_login: normal, company_name: John, company_documents: [{ id: '1196', document: 'http://localhost/ssgc-bulk-order-web/public/uploads/media/Consumer_Woman-512_-_Copy_16811582353154.png' }], company_images: [{ id: '1195', image: 'http://localhost/ssgc-bulk-order-web/public/uploads/media/Consumer_Woman-512_-_Copy_16811582357164.png' }], user_type: retailer } }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                otp:
                                    type: string
                                    description: 'max:6  OTP.'
                                    example: '1234'
                                user_id:
                                    type: string
                                    description: 'User ID.'
                                    example: '1'
                                email:
                                    type: string
                                    description: Email.
                                    example: test@mail.com
                            required:
                                - otp
                                - user_id
                                - email
            security: []
    /api/customer/resend_email_otp:
        post:
            summary: 'Auth: Resend Email OTP'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'OTP sent to your email ttt123@mailinator.com'
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'OTP sent to your email ttt123@mailinator.com' }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                user_id:
                                    type: string
                                    description: 'User ID.'
                                    example: '1'
                                email:
                                    type: string
                                    description: Email.
                                    example: test@mail.com
                            required:
                                - user_id
                                - email
            security: []
    /api/customer/login_with_otp:
        post:
            summary: 'Auth: Login with OTP'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'Your Mobile number verified successfully'
                                    data: { token: eyJ0eXAiOiJKV1QiLCJ..., id: '1', first_name: Parth, last_name: Patel, email: parth.patel@kodytechnolab.com, mobile_number: '972733248', age: '25', profile_image: 'http://localhost/beauty-fly/public/images/customer_avtar.png', country: { id: '1', name: 'Saudi Arabia', code: '+966', flag: 'http://localhost/beauty-fly/public/flags/saudi_arebia.png' }, latitude: '', longitude: '', email_verified: '0', phone_verified: '1', is_social_login: '0' }
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'Your Mobile number verified successfully' }
                                    data: { type: object, example: { token: eyJ0eXAiOiJKV1QiLCJ..., id: '1', first_name: Parth, last_name: Patel, email: parth.patel@kodytechnolab.com, mobile_number: '972733248', age: '25', profile_image: 'http://localhost/beauty-fly/public/images/customer_avtar.png', country: { id: '1', name: 'Saudi Arabia', code: '+966', flag: 'http://localhost/beauty-fly/public/flags/saudi_arebia.png' }, latitude: '', longitude: '', email_verified: '0', phone_verified: '1', is_social_login: '0' } }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                mobile_number:
                                    type: string
                                    description: 'max:10  Mobile Number.'
                                    example: '123456789'
                                device_type:
                                    type: string
                                    description: 'optional User''s device type. Enums : iphone, android.'
                                    example: iphone
                                device_token:
                                    type: string
                                    description: 'optional User''s device token.'
                                    example: abcd1234
                            required:
                                - mobile_number
            security: []
    /api/customer/login_with_password:
        post:
            summary: 'Auth: Login with password (email / mobile)'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'User logged in successfully.'
                                    data: { token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiZDI3MDg1NTBhNjZkZjc5ZTQwZmI4MWQ0...., id: '10', first_name: test, last_name: '', email: tesssttt@mailinator.com, mobile_number: '1112223331', profile_image: 'http://localhost/ssgc-web/public/customer_avtar.jpg', country: { id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }, referral_code: NRSW80WZ, email_verified: '1', phone_verified: '1', is_social_login: normal }
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'User logged in successfully.' }
                                    data: { type: object, example: { token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiZDI3MDg1NTBhNjZkZjc5ZTQwZmI4MWQ0...., id: '10', first_name: test, last_name: '', email: tesssttt@mailinator.com, mobile_number: '1112223331', profile_image: 'http://localhost/ssgc-web/public/customer_avtar.jpg', country: { id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }, referral_code: NRSW80WZ, email_verified: '1', phone_verified: '1', is_social_login: normal } }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                email:
                                    type: string
                                    description: 'optional Email(required without mobile number).'
                                    example: john@mail.com
                                mobile_number:
                                    type: string
                                    description: 'optional  max:10  Mobile Number(required without email).'
                                    example: '123456789'
                                password:
                                    type: string
                                    description: 'min:8 max:16  Password.'
                                    example: '12345678'
                                device_type:
                                    type: string
                                    description: 'optional User''s device type. Enums : iphone, android.'
                                    example: iphone
                                device_token:
                                    type: string
                                    description: 'optional User''s device token.'
                                    example: abcd1234
                            required:
                                - password
            security: []
    /api/customer/forgot_password:
        post:
            summary: 'Auth: Forgot Password'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'OTP sent to your mobile number 1112223331'
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'OTP sent to your mobile number 1112223331' }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                send_in:
                                    type: string
                                    description: 'send in (values: mobile, email).'
                                    example: mobile
                                email:
                                    type: string
                                    description: 'optional Email (required if send in email).'
                                    example: test@mail.com
                                mobile_number:
                                    type: string
                                    description: 'optional  max:10  Mobile Number  (required if send in mobile).'
                                    example: '123456789'
                            required:
                                - send_in
            security: []
    /api/customer/forgot_password_verify_otp:
        post:
            summary: 'Auth: Forgot Password Verify OTP'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'OTP has been verified successfully.'
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'OTP has been verified successfully.' }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                mobile_number:
                                    type: string
                                    description: 'optional  max:10  Mobile Number(required if send in mobile).'
                                    example: '123456789'
                                otp:
                                    type: string
                                    description: OTP.
                                    example: '1234'
                            required:
                                - otp
            security: []
    /api/customer/forgot_password_resend_otp:
        post:
            summary: 'Auth: Forgot Password Resend OTP'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'OTP sent to your mobile number 9727332489'
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'OTP sent to your mobile number 9727332489' }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: false
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                mobile_number:
                                    type: string
                                    description: 'optional  max:10  Mobile Number(required if send in mobile).'
                                    example: '123456789'
            security: []
    /api/customer/reset_password:
        post:
            summary: 'Auth: Reset Password'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'Password Reset successfully.'
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'Password Reset successfully.' }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                otp:
                                    type: string
                                    description: OTP.
                                    example: '1234'
                                mobile_number:
                                    type: optional
                                    description: 'max:10  Mobile NumberExample:123456789'
                                    example: eius
                                password:
                                    type: string
                                    description: Password.
                                    example: '12345678'
                                confirm_password:
                                    type: string
                                    description: 'Confirm Password.'
                                    example: '12345678'
                            required:
                                - otp
                                - password
                                - confirm_password
            security: []
    /api/customer/states:
        get:
            summary: 'Master: States'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'Country List Found'
                                    data: [{ id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }]
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'Country List Found' }
                                    data: { type: array, example: [{ id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }], items: { type: object } }
            tags:
                - 'Customer Endpoints'
            security: []
    '/api/customer/cities/{state_id}':
        get:
            summary: 'Master: Cities'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'Country List Found'
                                    data: [{ id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }]
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'Country List Found' }
                                    data: { type: array, example: [{ id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }], items: { type: object } }
            tags:
                - 'Customer Endpoints'
            security: []
        parameters:
            -
                in: path
                name: state_id
                description: 'Optional parameter.'
                required: true
                schema:
                    type: string
                examples:
                    omitted:
                        summary: 'When the value is omitted'
                        value: ''
                    present:
                        summary: 'When the value is present'
                        value: voluptas
    '/api/customer/postcodes/{city_id}':
        get:
            summary: 'Master: Postcodes'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'Country List Found'
                                    data: [{ id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }]
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'Country List Found' }
                                    data: { type: array, example: [{ id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }], items: { type: object } }
            tags:
                - 'Customer Endpoints'
            security: []
        parameters:
            -
                in: path
                name: city_id
                description: 'Optional parameter.'
                required: true
                schema:
                    type: string
                examples:
                    omitted:
                        summary: 'When the value is omitted'
                        value: ''
                    present:
                        summary: 'When the value is present'
                        value: iure
    /api/customer/cms:
        get:
            summary: 'Hamburger Menu: CMS'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'CMS Pages'
                                    data: { terms_page_url: 'http://localhost/ssgc-web/public/api/customer/terms_and_conditions', about_us: 'http://localhost/ssgc-web/public/api/customer/about_us', privacy_policy: 'http://localhost/ssgc-web/public/api/customer/privacy_policy' }
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'CMS Pages' }
                                    data: { type: object, example: { terms_page_url: 'http://localhost/ssgc-web/public/api/customer/terms_and_conditions', about_us: 'http://localhost/ssgc-web/public/api/customer/about_us', privacy_policy: 'http://localhost/ssgc-web/public/api/customer/privacy_policy' } }
            tags:
                - 'Customer Endpoints'
            security: []
    /api/customer/refer_and_earn:
        get:
            summary: 'Hamburger Menu: Refer & Earn'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'Data found'
                                    data: { referaal_code: '12345678', title: 'You Will Get 1000 Points On Your First Referral', content: 'This is content for Refer and Earn, Lorem ipsum dollar sit amet. Lorem ipsum dollar sit amet. Lorem ipsum dollar sit amet. Lorem ipsum dollar sit amet. Lorem ipsum dollar sit amet. Lorem ipsum dollar sit amet. Lorem ipsum dollar sit amet. Lorem ipsum dollar sit amet. Lorem ipsum dollar sit amet.' }
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'Data found' }
                                    data: { type: object, example: { referaal_code: '12345678', title: 'You Will Get 1000 Points On Your First Referral', content: 'This is content for Refer and Earn, Lorem ipsum dollar sit amet. Lorem ipsum dollar sit amet. Lorem ipsum dollar sit amet. Lorem ipsum dollar sit amet. Lorem ipsum dollar sit amet. Lorem ipsum dollar sit amet. Lorem ipsum dollar sit amet. Lorem ipsum dollar sit amet. Lorem ipsum dollar sit amet.' } }
            tags:
                - 'Customer Endpoints'
    /api/customer/books_list:
        get:
            summary: 'Books: Book list'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200, error'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '0'
                                    status: '201'
                                    message: 'Something went wrong.'
                                    data: []
                                properties:
                                    success: { type: string, example: '0' }
                                    status: { type: string, example: '201' }
                                    message: { type: string, example: 'Something went wrong.' }
                                    data: { type: array, example: [] }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                business_category_id:
                                    type: numeric
                                    description: 'from id from business_categories API'
                                    example: '1'
                                language:
                                    type: string
                                    description: 'Language (hindi,english).'
                                    example: hindi
                                category_id:
                                    type: string
                                    description: 'optional Category_id (category_id or subcategory_id of any level).'
                                    example: '3'
                                user_id:
                                    type: numeric
                                    description: 'optional User id if logged in API'
                                    example: '1'
                            required:
                                - business_category_id
                                - language
            security: []
    /api/customer/book_details:
        post:
            summary: 'Books: Book Details'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200, error'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '0'
                                    status: '201'
                                    message: 'Something went wrong.'
                                    data: {  }
                                properties:
                                    success: { type: string, example: '0' }
                                    status: { type: string, example: '201' }
                                    message: { type: string, example: 'Something went wrong.' }
                                    data: { type: object, example: {  } }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                book_id:
                                    type: string
                                    description: 'Book Id.'
                                    example: '1'
                                user_id:
                                    type: numeric
                                    description: 'optional User id if logged in API'
                                    example: '1'
                                language:
                                    type: string
                                    description: 'Language (hindi,english).'
                                    example: hindi
                            required:
                                - book_id
                                - language
    /api/customer/home/home_search:
        post:
            summary: 'Home: Search'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200, error'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '0'
                                    status: '201'
                                    message: 'Something went wrong.'
                                    data: []
                                properties:
                                    success: { type: string, example: '0' }
                                    status: { type: string, example: '201' }
                                    message: { type: string, example: 'Something went wrong.' }
                                    data: { type: array, example: [] }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                type:
                                    type: string
                                    description: 'search type enum:books,coupons'
                                    example: books
                                search_string:
                                    type: string
                                    description: 'search data'
                                    example: 'lorem ipsum'
                            required:
                                - type
                                - search_string
            security: []
    /api/customer/home/trending_book_list:
        get:
            summary: 'Home: Trending Books List'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200, error'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '0'
                                    status: '201'
                                    message: 'Something went wrong.'
                                    data: []
                                properties:
                                    success: { type: string, example: '0' }
                                    status: { type: string, example: '201' }
                                    message: { type: string, example: 'Something went wrong.' }
                                    data: { type: array, example: [] }
            tags:
                - 'Customer Endpoints'
            security: []
    /api/customer/home/business_category_section_data:
        get:
            summary: 'Home: Business Category Sections Data'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200, error'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '0'
                                    status: '201'
                                    message: 'Something went wrong.'
                                    data: []
                                properties:
                                    success: { type: string, example: '0' }
                                    status: { type: string, example: '201' }
                                    message: { type: string, example: 'Something went wrong.' }
                                    data: { type: array, example: [] }
            tags:
                - 'Customer Endpoints'
            security: []
    /api/customer/reason_list:
        get:
            summary: 'Customer Support: Reasons'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'Reason data found'
                                    data: [{ id: '2', reason: 'Need help for How to do payment' }, { id: '4', reason: 'I Need help for How to do payment' }]
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'Reason data found' }
                                    data: { type: array, example: [{ id: '2', reason: 'Need help for How to do payment' }, { id: '4', reason: 'I Need help for How to do payment' }], items: { type: object } }
            tags:
                - 'Customer Endpoints'
    /api/customer/send_ticket:
        post:
            summary: 'Customer Support: Send ticket'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'Enquiry has been submitted successfully.'
                                    data: { ticket_number: '2', date: 22-03-2022, time: '11:09 AM', admin_comment: '', reason: { id: '2', reason: 'Need help for How to do payment' }, message: 'wifi not working in mobile application', status: Pending, status_original: pending }
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'Enquiry has been submitted successfully.' }
                                    data: { type: object, example: { ticket_number: '2', date: 22-03-2022, time: '11:09 AM', admin_comment: '', reason: { id: '2', reason: 'Need help for How to do payment' }, message: 'wifi not working in mobile application', status: Pending, status_original: pending } }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                reason_id:
                                    type: integer
                                    description: ''
                                    example: 19
                                full_name:
                                    type: string
                                    description: 'max:500'
                                    example: velit
                                email:
                                    type: email
                                    description: 'max:500'
                                    example: id
                                mobile_number:
                                    type: string
                                    description: 'Contact number.'
                                    example: '1231231231'
                                message:
                                    type: string
                                    description: 'max:500'
                                    example: voluptates
                            required:
                                - reason_id
                                - full_name
                                - email
                                - mobile_number
                                - message
    /api/customer/logout:
        post:
            summary: 'Auth: Logout'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'You have logged-out successfully'
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'You have logged-out successfully' }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: false
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                device_token:
                                    type: string
                                    description: 'optional User''s device token.'
                                    example: abcd1234
    /api/customer/update_device_token:
        post:
            summary: 'Auth: Update Device Token'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'Device details updated.'
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'Device details updated.' }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                device_type:
                                    type: string
                                    description: 'User''s device type. Enums : iphone, android.'
                                    example: iphone
                                device_token:
                                    type: string
                                    description: 'User''s device token.'
                                    example: abcd1234
                            required:
                                - device_type
                                - device_token
    /api/customer/profile:
        get:
            summary: 'Profile: Profile Details'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'My Profile'
                                    data: { id: '10', first_name: test, last_name: '', email: tesssttt@mailinator.com, mobile_number: '1112223331', profile_image: 'http://localhost/ssgc-web/public/customer_avtar.jpg', country: { id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }, referral_code: NRSW80WZ, email_verified: '1', phone_verified: '1', is_social_login: normal }
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'My Profile' }
                                    data: { type: object, example: { id: '10', first_name: test, last_name: '', email: tesssttt@mailinator.com, mobile_number: '1112223331', profile_image: 'http://localhost/ssgc-web/public/customer_avtar.jpg', country: { id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }, referral_code: NRSW80WZ, email_verified: '1', phone_verified: '1', is_social_login: normal } }
            tags:
                - 'Customer Endpoints'
    /api/customer/profile/update_personal_details:
        post:
            summary: 'Profile: Update Personal Details'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'Profile details has been updated successfully'
                                    data: { id: '10', first_name: test, last_name: '', email: tesssttt@mailinator.com, mobile_number: '1112223331', profile_image: 'http://localhost/ssgc-web/public/customer_avtar.jpg', country: { id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }, referral_code: NRSW80WZ, email_verified: '1', phone_verified: '1', is_social_login: normal }
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'Profile details has been updated successfully' }
                                    data: { type: object, example: { id: '10', first_name: test, last_name: '', email: tesssttt@mailinator.com, mobile_number: '1112223331', profile_image: 'http://localhost/ssgc-web/public/customer_avtar.jpg', country: { id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }, referral_code: NRSW80WZ, email_verified: '1', phone_verified: '1', is_social_login: normal } }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                first_name:
                                    type: string
                                    description: 'max:50  First Name.'
                                    example: John
                                last_name:
                                    type: string
                                    description: 'optional max:50  Last Name.'
                                    example: John
                                company_name:
                                    type: string
                                    description: 'Full name.'
                                    example: John
                            required:
                                - first_name
                                - company_name
    /api/customer/profile/update_image:
        post:
            summary: 'Profile: Update Profile Image'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: multipart/form-data
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'Profile details has been updated successfully'
                                    data: { id: '10', first_name: test, last_name: '', email: tesssttt@mailinator.com, mobile_number: '1112223331', profile_image: 'http://localhost/ssgc-web/public/customer_avtar.jpg', country: { id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }, referral_code: NRSW80WZ, email_verified: '1', phone_verified: '1', is_social_login: normal }
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'Profile details has been updated successfully' }
                                    data: { type: object, example: { id: '10', first_name: test, last_name: '', email: tesssttt@mailinator.com, mobile_number: '1112223331', profile_image: 'http://localhost/ssgc-web/public/customer_avtar.jpg', country: { id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }, referral_code: NRSW80WZ, email_verified: '1', phone_verified: '1', is_social_login: normal } }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            type: object
                            properties:
                                profile_image:
                                    type: string
                                    format: binary
                                    description: 'The image.'
                            required:
                                - profile_image
    /api/customer/profile/update_company_images:
        post:
            summary: 'Profile: Update Company Docs & Images'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: multipart/form-data
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'Profile details has been updated successfully'
                                    data: { id: '10', first_name: test, last_name: '', email: tesssttt@mailinator.com, mobile_number: '1112223331', profile_image: 'http://localhost/ssgc-web/public/customer_avtar.jpg', country: { id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }, referral_code: NRSW80WZ, email_verified: '1', phone_verified: '1', is_social_login: normal }
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'Profile details has been updated successfully' }
                                    data: { type: object, example: { id: '10', first_name: test, last_name: '', email: tesssttt@mailinator.com, mobile_number: '1112223331', profile_image: 'http://localhost/ssgc-web/public/customer_avtar.jpg', country: { id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }, referral_code: NRSW80WZ, email_verified: '1', phone_verified: '1', is_social_login: normal } }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            type: object
                            properties:
                                'company_images[]':
                                    type: string
                                    format: binary
                                    description: 'Company Images.'
                                'company_documents[]':
                                    type: string
                                    format: binary
                                    description: 'Company Documents.'
                            required:
                                - 'company_images[]'
                                - 'company_documents[]'
    /api/customer/profile/update/mobile:
        post:
            summary: 'Profile: Update Mobile Number'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'OTP sent to your mobile number 1112223332'
                                    data: { id: '10', first_name: test, last_name: '', email: tesssttt@mailinator.com, mobile_number: '1112223331', profile_image: 'http://localhost/ssgc-web/public/customer_avtar.jpg', country: { id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }, referral_code: NRSW80WZ, email_verified: '1', phone_verified: '1', is_social_login: normal }
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'OTP sent to your mobile number 1112223332' }
                                    data: { type: object, example: { id: '10', first_name: test, last_name: '', email: tesssttt@mailinator.com, mobile_number: '1112223331', profile_image: 'http://localhost/ssgc-web/public/customer_avtar.jpg', country: { id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }, referral_code: NRSW80WZ, email_verified: '1', phone_verified: '1', is_social_login: normal } }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                mobile_number:
                                    type: string
                                    description: 'max:10  Mobile Number.'
                                    example: '1234567890'
                            required:
                                - mobile_number
    /api/customer/profile/verify/mobile:
        post:
            summary: 'Profile: Verify Mobile Number'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'Your mobile number has been updated successfully'
                                    data: { id: '10', first_name: test, last_name: '', email: tesssttt@mailinator.com, mobile_number: '1112223331', profile_image: 'http://localhost/ssgc-web/public/customer_avtar.jpg', country: { id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }, referral_code: NRSW80WZ, email_verified: '1', phone_verified: '1', is_social_login: normal }
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'Your mobile number has been updated successfully' }
                                    data: { type: object, example: { id: '10', first_name: test, last_name: '', email: tesssttt@mailinator.com, mobile_number: '1112223331', profile_image: 'http://localhost/ssgc-web/public/customer_avtar.jpg', country: { id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }, referral_code: NRSW80WZ, email_verified: '1', phone_verified: '1', is_social_login: normal } }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                mobile_number:
                                    type: string
                                    description: 'max:10  Mobile Number.'
                                    example: '123456789'
                                otp:
                                    type: string
                                    description: 'max:4  OTP.'
                                    example: '1234'
                            required:
                                - mobile_number
                                - otp
    /api/customer/profile/update/email:
        post:
            summary: 'Profile: Update Email Address'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'OTP sent to your email testmmm1@mailinator.com'
                                    data: { id: '10', first_name: test, last_name: '', email: tesssttt@mailinator.com, mobile_number: '1112223331', profile_image: 'http://localhost/ssgc-web/public/customer_avtar.jpg', country: { id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }, referral_code: NRSW80WZ, email_verified: '1', phone_verified: '1', is_social_login: normal }
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'OTP sent to your email testmmm1@mailinator.com' }
                                    data: { type: object, example: { id: '10', first_name: test, last_name: '', email: tesssttt@mailinator.com, mobile_number: '1112223331', profile_image: 'http://localhost/ssgc-web/public/customer_avtar.jpg', country: { id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-web/public/flags/india.png' }, referral_code: NRSW80WZ, email_verified: '1', phone_verified: '1', is_social_login: normal } }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: false
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                email:
                                    type: string
                                    description: 'optional max:190  Email.'
                                    example: John@gmail.com
    /api/customer/profile/verify/email:
        post:
            summary: 'Profile: Verify Email Address'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    success: '1'
                                    status: '200'
                                    message: 'Your email has been updated successfully'
                                    data: { id: '148', first_name: John, last_name: '', email: testttwww@mailinator.com, mobile_number: '1234567804', profile_image: 'http://localhost/ssgc-bulk-order-web/public/uploads/media/Consumer_Woman-512_-_Copy_16811582359196.png', country: { id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-bulk-order-web/public/flags/india.png' }, referral_code: '', email_verified: '1', phone_verified: '0', is_social_login: normal, company_name: John, company_documents: [{ id: '1196', document: 'http://localhost/ssgc-bulk-order-web/public/uploads/media/Consumer_Woman-512_-_Copy_16811582353154.png' }], company_images: [{ id: '1195', image: 'http://localhost/ssgc-bulk-order-web/public/uploads/media/Consumer_Woman-512_-_Copy_16811582357164.png' }], user_type: retailer }
                                properties:
                                    success: { type: string, example: '1' }
                                    status: { type: string, example: '200' }
                                    message: { type: string, example: 'Your email has been updated successfully' }
                                    data: { type: object, example: { id: '148', first_name: John, last_name: '', email: testttwww@mailinator.com, mobile_number: '1234567804', profile_image: 'http://localhost/ssgc-bulk-order-web/public/uploads/media/Consumer_Woman-512_-_Copy_16811582359196.png', country: { id: '1', name: India, code: '+91', flag: 'http://localhost/ssgc-bulk-order-web/public/flags/india.png' }, referral_code: '', email_verified: '1', phone_verified: '0', is_social_login: normal, company_name: John, company_documents: [{ id: '1196', document: 'http://localhost/ssgc-bulk-order-web/public/uploads/media/Consumer_Woman-512_-_Copy_16811582353154.png' }], company_images: [{ id: '1195', image: 'http://localhost/ssgc-bulk-order-web/public/uploads/media/Consumer_Woman-512_-_Copy_16811582357164.png' }], user_type: retailer } }
            tags:
                - 'Customer Endpoints'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                otp:
                                    type: string
                                    description: 'max:6  OTP.'
                                    example: '1234'
[...]
