@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?51uyct');
  src:  url('../fonts/icomoon.eot?51uyct#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?51uyct') format('truetype'),
    url('../fonts/icomoon.woff?51uyct') format('woff'),
    url('../fonts/icomoon.svg?51uyct#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user-old:before {
  content: "\e90e";
}

.icon-call-big:before {
  content: "\e90d"; 
}
.icon-send:before {
  content: "\e90c";  
}
.icon-share:before {
  content: "\e90b";  
}
.icon-close:before {
  content: "\e90a";
}
.icon-reply:before {
  content: "\e909";
}
.icon-home:before {
  content: "\e900";  
}
.icon-edit-address:before {
  content: "\e901";  
}
.icon-down:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e903";
}
.icon-call:before {
  content: "\e904";
}
.icon-lock:before {
  content: "\e905";
}
.icon-mail:before {
  content: "\e906";
}
.icon-notification:before {
  content: "\e907";
}
.icon-bag:before {
  content: "\e908";
}

